.cont{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.head{
  width: 135px;
  height: 200px;

  position: relative;
  display: flex;

  background-color: #e1b9a0;

  border-radius: 0px 140px 200px 200px;

}

.eyeL{
  width: 25px;
  height: 17px;

  position: absolute;
  top: 65px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;

  border-radius: 30px 30px 30px 30px;
}

.retinaL{
  width: 15px;
  height: 15px;

  position: absolute;

  background-color: black;

  border-radius: 30px 30px 30px 30px;
}

.glassesL{
  width: 50px;
  height: 50px;

  position: absolute;

  border: 3px solid #8a8e22;

  border-radius: 50% 50%;

  z-index: 60;
}
.eyeBL{
  width: 25px;
  height: 10px;

  position: absolute;
  top: -20px;

  background-color: black;

  border-radius: 50px 50px;

  z-index: 50;
}
.eyeR{
  width: 25px;
  height: 17px;

  position: absolute;
  top: 65px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;

  border-radius: 30px 30px 30px 30px;
}
.retinaR{
  width: 15px;
  height: 15px;

  position: absolute;

  background-color: black;

  border-radius: 30px 30px 30px 30px;
}
.glassesR{
  width: 50px;
  height: 50px;

  position: absolute;

  border: 3px solid #8a8e22;

  border-radius: 50% 50%;

  z-index: 60;
}
.eyeBR{
  width: 25px;
  height: 10px;

  position: absolute;
  top: -20px;

  background-color: black;

  border-radius: 50px 50px;

  z-index: 50;
}
.paloG{
  width: 25px;
  height: 1px;

  position: absolute;
  top: 72px;
  left: -0px;
  
  border: 1px solid #8a8e22;

  background-color: #8a8e22;
}
.faceL{
  width: 80px;
  height: 100px;

  position: absolute;
  bottom: 0;

  background-color: #242d34;

  
  border-radius: 0px 0px 0px 60px;
}
.faceR{
  width: 55px;
  height: 100px;

  position: absolute;
  bottom: 0;
  left: 80px;

  background-color: #192126;

  
  border-radius: 0px 0px 100px 0px;
}
.earL{
  width: 10px;
  height: 30px;

  position: absolute;
  top: 70px;
  left: -10px;
  
  border-right: 2px solid #242d34;

  background-color: #e1b9a0;

  border-radius: 10px;
}
.ligaL{
  width: 1px;
  height: 30px;

  position: absolute;
  top: 72px;
  left: -0px;
  
  border: 1px solid #242d34;

  background-color: #242d34;
}
.hairR{
  width: 150px;
  height: 50px;

  position: absolute;
  top: -15px;
  left: -5px;

  background-color: black;

  border-radius: 40px 40px;
}
.hairL{
  width: 40px;
  height: 55px;

  position: absolute;
  top: 20px;
  left: -20px;

  background-color: black;

  border-radius: 40px 40px;
}
.cheekL{
  width: 85px;
  height: 25px;

  position: absolute;
  top: -15px;

  background-color: #e1b9a0;

  border-radius: 130%;
}
.cheekR{
  width: 55px;
  height: 25px;

  position: absolute;
  top: -14px;

  background-color: #e1b9a0;

  border-radius: 90%;
}
.tapon{
  width: 23px;
  height: 23px;

  position: absolute;
  top: 35px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(238, 236, 236, 0.836);
  box-shadow: 0px 0px 5px 0px;

  border-radius: 50%;
}
.tap{
  width: 18px;
  height: 18px;

  position: absolute;

  background-color: rgba(238, 236, 236, 0.836);
  box-shadow: 0px 2px 5px 0px;

  border-radius: 50%;
}